<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="http://localhost:3000/print">
      <label for="login">Name: </label>
      <input type="text" name="name" /><br />

      <label for="surname">Surname: </label>
      <input type="text" name="surname" /><br />

      <label for="classes">Classes: </label>
      <input type="text" name="classes" /><br /><br />

      <% let i; %> <% for (i = 1; i <= 10; ++i) { %>
      <label for="exercise<%= i %>">Exercise <%= i %>: </label>
      <input type="text" value="" name="exercise<%= i %>" /><br />
      <% } %>

      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
