# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lista4.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\299243\Desktop\study\year 4\Kurs .NET Windows\Lista4\.idea\.idea.Lista4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
